<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @abstract_canonical_code.code %>
</p>

<p>
  <strong>Sha digest:</strong>
  <%= @abstract_canonical_code.sha_digest %>
</p>

<%= link_to 'Edit', edit_abstract_canonical_code_path(@abstract_canonical_code) %> |
<%= link_to 'Back', abstract_canonical_codes_path %>
